dovecot:
  config:
    disable_plaintext_auth: no   
    auth-ldap: true
    ext:
      ldap:
        hosts: localhost
  lookup:
    packages:
      - dovecot-core    # default
      - dovecot-imapd   # default
  config:
    'Here fun begins!'
