{% set cfg = salt['pillar.get']('dovecot:config', {}) -%}

{%- macro get_config(configname, default_value, state='#') -%}
    {%- if configname in cfg -%}
{{ configname }} = {{ cfg[configname] }}
    {%- elif default_value is defined -%}
{{ state }}{{ configname }} = {{ default_value }}
    {%- else -%}
{{ state }}{{ configname }} =
    {%- endif -%}
{%- endmacro -%}

{%- macro to_include(auth_service, default_include=false ) -%}
{%- set toinclude = cfg[auth_service]|default(default_include) -%}
{%-     if toinclude -%}
!include {{ auth_service }}.conf.ext
{%-     else -%}
#!include {{ auth_service }}.conf.ext
{%-     endif -%}
{%- endmacro -%}

{%- macro namespace(name, key) -%}
{%- set cfg_nm = cfg.get(key, {}) -%}
namespace {{ name }} {
{% if cfg_nm.get(name, {}) is defined -%}
{% for key, value in cfg_nm[name].iteritems() -%}
{%     if value is mapping and value is iterable %}
    {{ key }} {
{%-        for subkey, subvalue in value.iteritems() %}
        {{ subkey }} = {{ subvalue }}
{%-        endfor %}
    }
{%-   else %}
    {{ key }} = {{ value }}
{%    endif -%}
{% endfor -%}
{%- else -%}
    #WARNING: variable not defined!
{%- endif -%}
}
{%- endmacro -%}
