{% set cfg = pillar.get('dovecot:config', {}) -%}
{%- macro get_config(configname, default_value, state='#') -%}
    {%- if configname in cfg -%}
{{ configname }} = {{ cfg[configname] }}
    {%- else -%}
{{ state }}{{ configname }} = {{ default_value }}
    {%- endif -%}
{%- endmacro -%}
