{## Start with  defaults from defaults.yaml ##}
{% import_yaml "dovecot/defaults.yml" as default_settings %}

{%- macro deep_merge(a, b) %}
{%-     for k,v in b.iteritems() %}
{%-         if v is string or v is number %}
{%-             do a.update({ k: v }) %}
{%-         elif v is not mapping %}
{%-             if a[k] is iterable and a[k] is not mapping and a[k] is not string %}
{%-                 do a.update({ k: v + a[k]}) %}
{%-             else %}
{%-                 do a.update({ k: v }) %}
{%-             endif %}
{%-         elif v is mapping %}
{%-             if a[k] is not mapping %}
{%-                 do a.update({ k: v }) %}
{%-             else %}
{%-                 do deep_merge(a[k], v) %}
{%-             endif %}
{%-         else %}
{%-            do a.update({ k: 'ERROR: case not contempled in merging!' }) %}
{%-         endif %}
{%-     endfor %}
{%- endmacro %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
        },
        'packages': ['dovecot-core','dovecot-imapd'],
    },
    'Gentoo': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
        },
        'packages': ['net-mail/dovecot'],
    },
    'Arch': {
        'config': {
            'filename': 'dovecot',
            'local': '# no customization',
            'dovecotext': {},
	    'confext': {},
	    'ssl_certs': {},            
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/ssl/private',
            'ssl_keys_dir': '/etc/ssl/private',
        },
        'packages': ['dovecot'],
    },
    'RedHat': {
        'config': {
            'filename': 'local',
            'local': '# no customization',
            'dovecotext': {},
            'confext': {},
            'ssl_certs': {},
            'ssl_keys': {},
            'ssl_certs_dir': '/etc/pki/dovecot/certs',
            'ssl_keys_dir': '/etc/pki/dovecot/private',
         },
         'packages': ['dovecot','dovecot-pigeonhole'],
    },
}, default='Debian', merge=salt['pillar.get']('dovecot:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{#% do default_settings.dovecot.update(os_family_map) %#}
{% do deep_merge(default_settings.dovecot, os_family_map) %}

{## Merge in dovecot pillar ##}
{% set dovecot_settings = salt['pillar.get'](
   'dovecot',
    default=default_settings.dovecot,
    merge=True) 
%}
